form {
    width: 100%;
    font-weight: 400;
}

input,textarea,button{
    display: block;
    margin:5px auto 10px auto;
    width: 93%;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 3px;
    outline: none;
    font-family: kumbh sans;
}
button{
    width: 98%;
    background-color: hsl(235, 19%, 35%);
    font-weight: bold;
    color: whitesmoke;
    letter-spacing: 2px;
}
#contacts{
    margin-top: -200px;
}
#contacts img{
    width: 100%;
}
.msg-succes{
    background-color: hsl(204, 8%, 75%);
    padding: 23px;
    position: relative;
    border: 1px solid hsl(204, 8%, 75%);
    border-radius: 5px;
    display: none;
    transition: .4s ease;
}
.msg-succes.active{
    display: block;
    position: absolute;
    width: 86.5%;
    z-index: 2;
    bottom: 508px;
    transition: .4s ease;
}
    
.msg-succes li {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    margin: auto 10px;
    align-items: center;
}
.msg-succes li p{
    position: absolute;
    left: 80px;
    top: 5px;
}
.msg-icon{
    color: white;
    padding: 5px;
    border-radius: 20px;
    background-color: hsl(235, 46%, 56%);
    top: 20px;
    left: 20px;
    position: absolute;
}


@media screen and (min-width:800px) {
    #contacts{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;
        margin-top: 30px;
    }
    label{
        margin-left: 125px;
    }
    form{
        margin-top: 60px;
        margin-left: 120px;
    }
    input,textarea,button{
        width: 60%;
        padding: 10px;
    }
    button{
        width: 63%;
    }
}